@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
}

#diamond {
  /* 头部 */
  /* 主要内容区 */
}

#diamond .title .location {
  text-align: center;
  width: 100%;
  height: 10.66667vw;
  background: #fff url(../images/logo2.png) no-repeat 50%;
  background-size: auto 72%;
  position: relative;
  line-height: 10.66667vw;
}

#diamond .title .location .left {
  width: 17.06667vw;
  height: 10.66667vw;
  position: absolute;
  left: 4.26667vw;
  bottom: 0;
  color: #9b745c;
}

#diamond .title .location .left .icon-pingfangxinxi {
  height: 10.66667vw;
  font-size: 4.8vw;
  line-height: 10.66667vw;
}

#diamond .title .location .left .span2 {
  font-size: 3.2vw;
}

#diamond .title .location .right {
  width: 15.2vw;
  height: 10.66667vw;
  position: absolute;
  right: 4.26667vw;
  bottom: 0vw;
  color: #9f7962;
  font-size: 4.26667vw;
}

#diamond .title .location .right .language {
  padding-right: 2.66667vw;
}

#diamond .title .location .right .icon-gengduo {
  font-size: 4.8vw;
}

#diamond .wrapper .scroller .container .i-main {
  background: #f4f4f4;
}

#diamond .wrapper .scroller .container .i-main .floor1 {
  width: 100%;
  height: 80vw;
}

#diamond .wrapper .scroller .container .i-main .floor1 img {
  width: 100%;
  height: 80vw;
}

#diamond .wrapper .scroller .container .i-main .gary-hr {
  width: 100%;
  height: 2.66667vw;
  background: #f4f4f4;
}

#diamond .wrapper .scroller .container .i-main .floor2 {
  width: 94.66667vw;
  height: 44.26667vw;
  margin: auto;
}

#diamond .wrapper .scroller .container .i-main .floor2 img {
  width: 94.66667vw;
  height: 44.26667vw;
}

#diamond .wrapper .scroller .container .i-main .floor3 {
  background: white;
  width: 94.66667vw;
  margin: auto;
}

#diamond .wrapper .scroller .container .i-main .floor3 img {
  width: 94.66667vw;
  height: 38.66667vw;
  margin: auto;
}

#diamond .wrapper .scroller .container .i-main .floor3 .experience {
  width: 94.66667vw;
  height: 28.8vw;
  margin-top: 5.86667vw;
  text-align: center;
}

#diamond .wrapper .scroller .container .i-main .floor3 .experience .p1 {
  height: 4.8vw;
  font-size: 4.8vw;
  line-height: 4.8vw;
  margin-bottom: 3.46667vw;
  color: #222;
}

#diamond .wrapper .scroller .container .i-main .floor3 .experience .p2 {
  color: #222;
  font-size: 3.2vw;
  height: 3.2vw;
  line-height: 3.2vw;
  margin-bottom: 5.06667vw;
}

#diamond .wrapper .scroller .container .i-main .floor3 .experience .p3 {
  width: 25.6vw;
  height: 8vw;
  font-size: 4vw;
  border: 0.13333vw solid #a57a68;
  margin: auto;
  text-align: center;
  line-height: 8vw;
  color: #a57a68;
}

#diamond .wrapper .scroller .container .i-main .floor4 {
  width: 100%;
  height: 111.2vw;
  position: relative;
}

#diamond .wrapper .scroller .container .i-main .floor4 .bg-img {
  width: 100%;
  height: 68.8vw;
}

#diamond .wrapper .scroller .container .i-main .floor4 .uniqueness {
  width: 94.66667vw;
  height: 47.73333vw;
  background: white;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 62.66667vw;
}

#diamond .wrapper .scroller .container .i-main .floor4 .uniqueness ul li {
  float: left;
  width: 31.46667vw;
  height: 49.6vw;
}

#diamond .wrapper .scroller .container .i-main .floor4 .uniqueness ul li img {
  width: 31.46667vw;
  height: 49.6vw;
}

#diamond .wrapper .scroller .container .i-main .floor5 {
  width: 100%;
}

#diamond .wrapper .scroller .container .i-main .floor5 ul li img {
  width: 100%;
  height: 45.33333vw;
}
