* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

@function vw($px) {
    @return ($px/750)*100vw;
}

#login {

    /* 头部 */
    .title-top {
        width: 100%;
        height: vw(78);
        border-bottom: vw(1) solid #ebedf0;
        background: white;

        .title {
            width: vw(680);
            height: vw(78);
            margin: auto;

            // background: red;
            text-align: center;
            line-height: vw(78);

            .left {
                float: left;

                .icon-fanhui {
                    width: vw(32);
                    height: vw(80);
                    font-size: vw(30);
                }
            }

            .middle {
                float: left;
                width: vw(450);
                height: vw(80);
                // margin: 0 vw(150);
            }

            .right {
                float: left;
                width: vw(180);
                height: vw(80);
                color: #a57a68;

                .span1 {
                    display: block;
                    float: left;
                    width: vw(56);
                    height: vw(80);
                    padding: 0 vw(20);
                    font-size: vw(24);

                }

                .icon-gengduo {
                    float: left;
                    width: vw(44);
                    height: vw(80);
                    font-size: vw(30);
                }
            }
        }
    }

    .container {
        .img2 {
            width: vw(244);
            height: vw(164);
        }
    }
}